*.om
*.ckpt
*.air
*.json
*.pyc
hccl.*
*.dot
*.ir
*.dat
*.pb
*.info
*.o
*.log
as
scripts/preprocess_Result*
*.lock
trace*
*.meta
*.h
/.idea/
__pycache__/
310_bins*
scripts/result_Files/
scripts/time_Result/
*.mindir
acc.log
acc_success.log
detections_latest.csv
eval0/
groundtruth_latest.csv
scripts/result_Files_bk/
